<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col lg-12">
            <form name="todoForm" data-ng-submit="submitForm()" novalidate>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" name="title" class="form-control" data-ng-model="todo.title" required />
                    <p ng-show="todoForm.title.$pristine" class="help-block">A title is required</p>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" name="description" class="form-control" data-ng-model="todo.description" required />
                    <p ng-show="todoForm.description.$pristine" class="help-block">A description is required</p>
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <select name="status" class="form-control" data-ng-model="todo.status">
                        <option value="Todo">Todo</option>
                        <option value="Doing">Doing</option>
                        <option value="Done">Done</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" data-ng-disabled="todoForm.$invalid">Save Changes</button>
            </form>
        </div>
    </div>
</div>
